.headers {
  font-weight: 600;
}

.leaderboard h4:not(:first-child) {
  margin-top: 1em;
}

.leaders {
  background-color: rgba(195, 176, 145, 0.4);
}

.tree-huggers {
  background-color: rgba(97, 198, 47, 0.3);
  padding: 1em;
}

.polluters {
  background-color: rgba(255, 0, 0, 0.1);
  padding: 1em;
}

.player-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
